{{>layout/header}}

<h1>입금</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="money">입금</label>
                <input type="number" class="form-control" id="money" placeholder="입금할 금액을 입력하세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-login-deposit">입금</button>
    </div>
</div>

{{>layout/footer}}