{{>layout/header}}
<h1> 가계부 </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/accountBook/save" role="button" class="btn btn-primary">회원가입</a>
            <a href="/accountBook/deposit" role="button" class="btn btn-primary">입금</a>
            <a href="/accountBook/withdraw" role="button" class="btn btn-primary">출금</a>
            <a href="/accountBook/lookup" role="button" class="btn btn-primary">조회</a>
        </div>
    </div>
</div>
{{>layout/footer}}